In [1]:
import numpy as np
import pandas as pd

In [3]:
beer_types = pd.read_csv('../data/beer_labels_panel_train.csv', index_col=0)[['tasting_category_fine']]
beer_types

    tasting_category_fine
6                   Amber
210                 Amber
32                  Amber
158                 Amber
137                 Amber
..                    ...
172                 Wheat
197                 Wheat
152                 Wheat
22                  Wheat
142                 Wheat

[175 rows x 1 columns]

In [4]:
type_counts = beer_types.groupby(by=['tasting_category_fine']).value_counts().sort_values()
type_counts

tasting_category_fine
Faro                   2
Scotch                 3
Brut                   3
Flanders old brown     3
Brett/cofermented      4
West Flanders ale      5
Christmas              6
Fruitbeer              6
Low/No alcohol         6
Saison                 7
Dubbel                 7
Kriek                  7
Amber                  8
Pils/Lager             8
Wheat                  8
Brown                  8
Lambic                 8
Stout/Porter           9
Hoppy                 12
Strong ale            13
Tripel                20
Blond                 22
Name: count, dtype: int64

In [6]:
base = ['Blond','Tripel','Strong ale','Hoppy','Dubbel']
light = ['Wheat','Pils/Lager']
dark = ['Brown','Stout/Porter','Amber']
kriek = ['Kriek','Fruitbeer']
sour = ['Lambic','Flanders old brown','Brett/cofermented','Faro']
season = ['Saison','Christmas']
rest = ['Scotch','West Flanders ale','Low/No alcohol','Brut']

print(type_counts[base].sum())
print(type_counts[light].sum())
print(type_counts[dark].sum())
print(type_counts[kriek].sum())
print(type_counts[sour].sum())
print(type_counts[season].sum())
print(type_counts[rest].sum())

74
16
25
13
17
13
17

In [7]:
type_mapping = {
    'base': ['Blond','Tripel','Strong ale','Hoppy','Dubbel'],
    'light': ['Wheat','Pils/Lager'],
    'dark': ['Brown','Stout/Porter','Amber'],
    'kriek': ['Kriek','Fruitbeer'],
    'sour': ['Lambic','Flanders old brown','Brett/cofermented','Faro'],
    'season': ['Saison','Christmas'],
    'rest': ['Scotch','West Flanders ale','Low/No alcohol','Brut']}

inv_type_mapping = {}

# Iterate through each key-value pair in the original dictionary
for key, value_list in type_mapping.items():
    for item in value_list:
        inv_type_mapping[item] = key

# inv_type_mapping

In [37]:
beer_types['broad_types'] = beer_types['tasting_category_fine'].apply(lambda type: inv_type_mapping[type])
beer_types.reset_index(inplace=True)
beer_types

     index tasting_category_fine broad_types
0        6                 Amber        dark
1      210                 Amber        dark
2       32                 Amber        dark
3      158                 Amber        dark
4      137                 Amber        dark
..     ...                   ...         ...
170    172                 Wheat       light
171    197                 Wheat       light
172    152                 Wheat       light
173     22                 Wheat       light
174    142                 Wheat       light

[175 rows x 3 columns]

In [39]:
base_idx = beer_types[beer_types['broad_types'] == 'base'].index
light_idx = beer_types[beer_types['broad_types'] == 'light'].index
dark_idx = beer_types[beer_types['broad_types'] == 'dark'].index
kriek_idx = beer_types[beer_types['broad_types'] == 'kriek'].index
sour_idx = beer_types[beer_types['broad_types'] == 'sour'].index
season_idx = beer_types[beer_types['broad_types'] == 'season'].index
rest_idx = beer_types[beer_types['broad_types'] == 'rest'].index

indices = [base_idx, light_idx, dark_idx, kriek_idx, sour_idx, season_idx, rest_idx]

In [40]:
FOLDS = 5

val_indices = []
for i in range(FOLDS):
    val_indices.append([])
    for idx in indices:
        val_indices[-1].extend(idx[i::FOLDS])

val_indices[-1] = [val_indices[0].pop(0), val_indices[0].pop(0), val_indices[0].pop(0), *val_indices[-1]]
val_indices[-2] = [val_indices[1].pop(0), val_indices[1].pop(0), *val_indices[-2]]

In [42]:
val_indices

[[23,
  28,
  54,
  70,
  75,
  80,
  133,
  138,
  143,
  148,
  153,
  158,
  102,
  107,
  169,
  174,
  0,
  5,
  36,
  41,
  124,
  63,
  68,
  85,
  30,
  59,
  89,
  94,
  45,
  50,
  114,
  42,
  98,
  118,
  165],
 [19,
  24,
  29,
  55,
  71,
  76,
  129,
  134,
  139,
  144,
  149,
  154,
  159,
  103,
  108,
  170,
  1,
  6,
  37,
  120,
  125,
  64,
  81,
  86,
  31,
  60,
  90,
  95,
  46,
  110,
  115,
  43,
  99,
  119,
  166],
 [10,
  15,
  20,
  25,
  51,
  56,
  72,
  77,
  130,
  135,
  140,
  145,
  150,
  155,
  160,
  104,
  109,
  171,
  2,
  7,
  38,
  121,
  126,
  65,
  82,
  87,
  32,
  61,
  91,
  47,
  111,
  116,
  44,
  100,
  162],
 [9,
  14,
  11,
  16,
  21,
  26,
  52,
  57,
  73,
  78,
  131,
  136,
  141,
  146,
  151,
  156,
  161,
  105,
  167,
  172,
  3,
  34,
  39,
  122,
  127,
  66,
  83,
  33,
  62,
  92,
  48,
  112,
  96,
  101,
  163],
 [8,
  13,
  18,
  12,
  17,
  22,
  27,
  53,
  69,
  74,
  79,
  132,
  137,
  142,
  147,
  152,
  157,
  106,
  168,
  173,
  4,
  35,
  40,
  123,
  128,
  67,
  84,
  58,
  88,
  93,
  49,
  113,
  97,
  117,
  164]]

In [63]:
val_indices = np.sort([[23,28,54,70,75,80,133,138,143,148,153,158,102,107,169,174,0,5,36,41,124,63,68,85,30,59,89,94,45,50,114,42,98,118,165],
 [19,24,29,55,71,76,129,134,139,144,149,154,159,103,108,170,1,6,37,120,125,64,81,86,31,60,90,95,46,110,115,43,99,119,166],
 [10,15,20,25,51,56,72,77,130,135,140,145,150,155,160,104,109,171,2,7,38,121,126,65,82,87,32,61,91,47,111,116,44,100,162],
 [9,14,11,16,21,26,52,57,73,78,131,136,141,146,151,156,161,105,167,172,3,34,39,122,127,66,83,33,62,92,48,112,96,101,163],
 [8,13,18,12,17,22,27,53,69,74,79,132,137,142,147,152,157,106,168,173,164,35,40,123,128,67,84,58,88,93,49,113,97,117,4]
 ])

In [64]:
val_indices[-1]

array([  4,   8,  12,  13,  17,  18,  22,  27,  35,  40,  49,  53,  58,
        67,  69,  74,  79,  84,  88,  93,  97, 106, 113, 117, 123, 128,
       132, 137, 142, 147, 152, 157, 164, 168, 173])

In [71]:
train_indices = []
for i in range(FOLDS):
    train_indices.append(np.setdiff1d(np.arange(175), val_indices[i]))

train_indices = np.sort(train_indices)

In [72]:
train_indices

array([[  1,   2,   3,   4,   6,   7,   8,   9,  10,  11,  12,  13,  14,
         15,  16,  17,  18,  19,  20,  21,  22,  24,  25,  26,  27,  29,
         31,  32,  33,  34,  35,  37,  38,  39,  40,  43,  44,  46,  47,
         48,  49,  51,  52,  53,  55,  56,  57,  58,  60,  61,  62,  64,
         65,  66,  67,  69,  71,  72,  73,  74,  76,  77,  78,  79,  81,
         82,  83,  84,  86,  87,  88,  90,  91,  92,  93,  95,  96,  97,
         99, 100, 101, 103, 104, 105, 106, 108, 109, 110, 111, 112, 113,
        115, 116, 117, 119, 120, 121, 122, 123, 125, 126, 127, 128, 129,
        130, 131, 132, 134, 135, 136, 137, 139, 140, 141, 142, 144, 145,
        146, 147, 149, 150, 151, 152, 154, 155, 156, 157, 159, 160, 161,
        162, 163, 164, 166, 167, 168, 170, 171, 172, 173],
       [  0,   2,   3,   4,   5,   7,   8,   9,  10,  11,  12,  13,  14,
         15,  16,  17,  18,  20,  21,  22,  23,  25,  26,  27,  28,  30,
         32,  33,  34,  35,  36,  38,  39,  40,  41,  42,  44,  45,  47,
         48,  49,  50,  51,  52,  53,  54,  56,  57,  58,  59,  61,  62,
         63,  65,  66,  67,  68,  69,  70,  72,  73,  74,  75,  77,  78,
         79,  80,  82,  83,  84,  85,  87,  88,  89,  91,  92,  93,  94,
         96,  97,  98, 100, 101, 102, 104, 105, 106, 107, 109, 111, 112,
        113, 114, 116, 117, 118, 121, 122, 123, 124, 126, 127, 128, 130,
        131, 132, 133, 135, 136, 137, 138, 140, 141, 142, 143, 145, 146,
        147, 148, 150, 151, 152, 153, 155, 156, 157, 158, 160, 161, 162,
        163, 164, 165, 167, 168, 169, 171, 172, 173, 174],
       [  0,   1,   3,   4,   5,   6,   8,   9,  11,  12,  13,  14,  16,
         17,  18,  19,  21,  22,  23,  24,  26,  27,  28,  29,  30,  31,
         33,  34,  35,  36,  37,  39,  40,  41,  42,  43,  45,  46,  48,
         49,  50,  52,  53,  54,  55,  57,  58,  59,  60,  62,  63,  64,
         66,  67,  68,  69,  70,  71,  73,  74,  75,  76,  78,  79,  80,
         81,  83,  84,  85,  86,  88,  89,  90,  92,  93,  94,  95,  96,
         97,  98,  99, 101, 102, 103, 105, 106, 107, 108, 110, 112, 113,
        114, 115, 117, 118, 119, 120, 122, 123, 124, 125, 127, 128, 129,
        131, 132, 133, 134, 136, 137, 138, 139, 141, 142, 143, 144, 146,
        147, 148, 149, 151, 152, 153, 154, 156, 157, 158, 159, 161, 163,
        164, 165, 166, 167, 168, 169, 170, 172, 173, 174],
       [  0,   1,   2,   4,   5,   6,   7,   8,  10,  12,  13,  15,  17,
         18,  19,  20,  22,  23,  24,  25,  27,  28,  29,  30,  31,  32,
         35,  36,  37,  38,  40,  41,  42,  43,  44,  45,  46,  47,  49,
         50,  51,  53,  54,  55,  56,  58,  59,  60,  61,  63,  64,  65,
         67,  68,  69,  70,  71,  72,  74,  75,  76,  77,  79,  80,  81,
         82,  84,  85,  86,  87,  88,  89,  90,  91,  93,  94,  95,  97,
         98,  99, 100, 102, 103, 104, 106, 107, 108, 109, 110, 111, 113,
        114, 115, 116, 117, 118, 119, 120, 121, 123, 124, 125, 126, 128,
        129, 130, 132, 133, 134, 135, 137, 138, 139, 140, 142, 143, 144,
        145, 147, 148, 149, 150, 152, 153, 154, 155, 157, 158, 159, 160,
        162, 164, 165, 166, 168, 169, 170, 171, 173, 174],
       [  0,   1,   2,   3,   5,   6,   7,   9,  10,  11,  14,  15,  16,
         19,  20,  21,  23,  24,  25,  26,  28,  29,  30,  31,  32,  33,
         34,  36,  37,  38,  39,  41,  42,  43,  44,  45,  46,  47,  48,
         50,  51,  52,  54,  55,  56,  57,  59,  60,  61,  62,  63,  64,
         65,  66,  68,  70,  71,  72,  73,  75,  76,  77,  78,  80,  81,
         82,  83,  85,  86,  87,  89,  90,  91,  92,  94,  95,  96,  98,
         99, 100, 101, 102, 103, 104, 105, 107, 108, 109, 110, 111, 112,
        114, 115, 116, 118, 119, 120, 121, 122, 124, 125, 126, 127, 129,
        130, 131, 133, 134, 135, 136, 138, 139, 140, 141, 143, 144, 145,
        146, 148, 149, 150, 151, 153, 154, 155, 156, 158, 159, 160, 161,
        162, 163, 165, 166, 167, 169, 170, 171, 172, 174]])