In [42]:
import numpy as np
import pandas as pd
import json
import ast

from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns

import pyrfume

from rdkit import Chem
from rdkit.Chem import AllChem, PandasTools, Descriptors, rdMolDescriptors
from mordred import Calculator, descriptors

In [43]:
def combine_lists_for_duplicates(df):
    combined_df = pd.DataFrame(columns=df.columns)  # Initialize an empty DataFrame with the same columns

    for index, group in df.groupby(df.index):
        if len(group) > 1:  # If duplicate index
            combined_lists = sum(group['Descriptors'], [])  # Combine lists
            combined_df = pd.concat([combined_df, pd.DataFrame({'Descriptors': [combined_lists]}, index=[index])])  # Concatenate to combined DataFrame
        else:
            combined_df = pd.concat([combined_df, group])  # If not a duplicate, just concatenate the row

    return combined_df

In [44]:
csv_arc = pyrfume.load_data('prediction_targets/arctander_1960.csv')
csv_arc['Descriptors'] = csv_arc['Descriptors'].apply(ast.literal_eval)
csv_arc = combine_lists_for_duplicates(csv_arc)

In [45]:
with open('compounds.json', 'r') as file:
    string_compounds = json.load(file)
    compounds = {int(k): v for k, v in string_compounds.items()}
    del string_compounds

In [46]:
def normalize_column(col):
    return (col - col.mean()) / col.std()

In [47]:
def calc_corrs(df, cols):
    all_corrs = []
    for i, col in enumerate(cols):
        print(i)
        all_corrs.append([])
        for ccol in cols:
            all_corrs[-1].extend([df[col].corr(df[ccol])])

    return np.array(all_corrs)

In [48]:
def get_cum_indices(norm_df):
    pca = PCA()
    pca.fit(norm_df)
    df_pca = pca.transform(norm_df)
    df_pca = pd.DataFrame(df_pca, columns=[f'PC{i+1}' for i in range(df_pca.shape[1])])

    # Calculate cumulative sum
    cumulative_sum = np.cumsum(pca.explained_variance_ratio_)

    # Find the index where cumulative sum crosses 0.9, 0.95, and 0.99
    index_90 = np.argmax(cumulative_sum >= 0.9)
    index_95 = np.argmax(cumulative_sum >= 0.95)
    index_99 = np.argmax(cumulative_sum >= 0.99)
    index_999 = np.argmax(cumulative_sum >= 0.999)

    # Get the absolute loadings for each principal component
    loadings_abs = pd.DataFrame(abs(pca.components_), columns=norm_df.columns)

    significant_columns = loadings_abs.idxmax(axis=1).drop_duplicates()

    return (index_90, index_95, index_99, index_999), significant_columns, pca.explained_variance_ratio_, loadings_abs

In [49]:
arc_exp_cols = [c.capitalize() for c in set(csv_arc['Descriptors'].explode().tolist())]
arc_exp_cols

['Aromatique',
 'Metallic',
 'Jasmin',
 'Hyacinth',
 'Sandalwood',
 'Green',
 'Tarry',
 'Fruity',
 'Orris',
 'Spicy',
 'Peppery',
 'Lilac',
 'Coco',
 'Floral',
 'Coconut',
 'Banana',
 'Honey',
 'Aldehydic',
 'Tea',
 'Green,',
 'Leafy',
 'Sour',
 'Vanillin',
 'Herbaceous',
 'Basalmic',
 'Mushroom',
 'Must',
 'Anisic',
 'Sulfuraceous',
 'Root',
 'Wood',
 'Geranium',
 'Foral',
 'Herbal',
 'Lily',
 'Peach',
 'Lillac',
 'Orange-blossom',
 'Leather',
 'Waxy',
 'Animal',
 'Apple',
 'Buttery',
 'Acid',
 'Citrus',
 'Citrusy',
 'Plum',
 'Musty',
 'Gas',
 'Ehtereal',
 'Mossy',
 'Fruit',
 'Woody',
 'Ethereal',
 'Pepper',
 'Brandy',
 'Oily',
 'Tobacco',
 'Grape',
 'Piney',
 'Vanilla',
 'Smoky',
 'Rose',
 'Aromatic',
 'Camphor',
 'Ambre',
 'Fatty',
 'Nut',
 'Pineapple',
 'Mushroomy',
 'Gassy',
 'Orange',
 'Narcissus',
 'Nutty',
 'Leathery',
 'Rosy',
 'Aldehidic',
 'Mimosa',
 'Powdery',
 'Hay',
 'Musk',
 'Caramelic',
 'Minty',
 'Rooty',
 'Winey',
 'Vanlilin',
 'Musky',
 'Camphoraceous',
 'Almondy',
 'Earthy',
 'Apricot',
 'Pear',
 'Woney',
 'Phenolic',
 'Almond',
 'Mint',
 'Medicinal',
 'Berry',
 'Balsamic',
 'Pine',
 'Violet',
 'Peachy',
 'Creamy']

In [50]:
smell_groups = {
    "Floral": ["Floral", "Foral", "Rose", "Lilac", "Violet", "Narcissus", "Lily", "Mimosa", "Geranium", "Rosy", "Hyacinth", "Jasmin", "Orange-blossom", "Lillac", "Orris"],
    "Fruity": ["Fruity", "Fruit", "Banana", "Peachy", "Apricot", "Apple", "Orange", "Berry", "Grape", "Pineapple", "Peach", "Pear", "Plum", "Coco", "Brandy", "Almondy", "Woney", "Citrus", "Citrusy"],
    "Herbal": ["Mint", "Hay", "Tea", "Herbal", "Herbaceous", "Minty", "Anisic"],
    "Green": ["Green", "Green,", "Mossy", "Leafy",],
    "Woody": ["Sandalwood", "Woody", "Wood", "Pine", "Piney", "Ambre", "Smoky"],
    "Sweet": ["Honey", "Caramelic", "Buttery", "Creamy", "Vanilla", "Vanillin", "Vanlilin", "Coconut", "Winey"],
    "Balsamic": ["Balsamic", "Basalmic"],
    "Earth": ["Earthy", "Musty", "Must", "Rooty", "Root", "Mushroom", "Mushroomy"],
    "Spicy": ["Pepper", "Peppery", "Spicy", "Aldehidic"],
    "Chemical": ["Acid", "Gas", "Gassy", "Aldehydic", "Metallic", "Phenolic", "Sulfuraceous", "Medicinal"],
    "Animalic": ["Animal", "Musk", "Musky", "Leathery", "Leather"],
    "Nutty": ["Nut", "Almond", "Nutty"],
    "Other": ["Aromatique", "Aromatic", "Camphoraceous", "Ethereal", "Ehtereal", "Waxy", "Camphor", "Oily", "Tarry", "Sour", "Powdery", "Fatty", "Tobacco"]
}

l = []
for e in [v for k, v in smell_groups.items()]:
    for ee in e:
        if ee in l:
            print(ee)
    l.extend(e)

inverted_smell_groups = {}
for key, values in smell_groups.items():
    for value in values:
        inverted_smell_groups[value] = key

inverted_smell_groups

{'Floral': 'Floral',
 'Foral': 'Floral',
 'Rose': 'Floral',
 'Lilac': 'Floral',
 'Violet': 'Floral',
 'Narcissus': 'Floral',
 'Lily': 'Floral',
 'Mimosa': 'Floral',
 'Geranium': 'Floral',
 'Rosy': 'Floral',
 'Hyacinth': 'Floral',
 'Jasmin': 'Floral',
 'Orange-blossom': 'Floral',
 'Lillac': 'Floral',
 'Orris': 'Floral',
 'Fruity': 'Fruity',
 'Fruit': 'Fruity',
 'Banana': 'Fruity',
 'Peachy': 'Fruity',
 'Apricot': 'Fruity',
 'Apple': 'Fruity',
 'Orange': 'Fruity',
 'Berry': 'Fruity',
 'Grape': 'Fruity',
 'Pineapple': 'Fruity',
 'Peach': 'Fruity',
 'Pear': 'Fruity',
 'Plum': 'Fruity',
 'Coco': 'Fruity',
 'Brandy': 'Fruity',
 'Almondy': 'Fruity',
 'Woney': 'Fruity',
 'Citrus': 'Fruity',
 'Citrusy': 'Fruity',
 'Mint': 'Herbal',
 'Hay': 'Herbal',
 'Tea': 'Herbal',
 'Herbal': 'Herbal',
 'Herbaceous': 'Herbal',
 'Minty': 'Herbal',
 'Anisic': 'Herbal',
 'Green': 'Green',
 'Green,': 'Green',
 'Mossy': 'Green',
 'Leafy': 'Green',
 'Sandalwood': 'Woody',
 'Woody': 'Woody',
 'Wood': 'Woody',
 'Pine': 'Woody',
 'Piney': 'Woody',
 'Ambre': 'Woody',
 'Smoky': 'Woody',
 'Honey': 'Sweet',
 'Caramelic': 'Sweet',
 'Buttery': 'Sweet',
 'Creamy': 'Sweet',
 'Vanilla': 'Sweet',
 'Vanillin': 'Sweet',
 'Vanlilin': 'Sweet',
 'Coconut': 'Sweet',
 'Winey': 'Sweet',
 'Balsamic': 'Balsamic',
 'Basalmic': 'Balsamic',
 'Earthy': 'Earth',
 'Musty': 'Earth',
 'Must': 'Earth',
 'Rooty': 'Earth',
 'Root': 'Earth',
 'Mushroom': 'Earth',
 'Mushroomy': 'Earth',
 'Pepper': 'Spicy',
 'Peppery': 'Spicy',
 'Spicy': 'Spicy',
 'Aldehidic': 'Spicy',
 'Acid': 'Chemical',
 'Gas': 'Chemical',
 'Gassy': 'Chemical',
 'Aldehydic': 'Chemical',
 'Metallic': 'Chemical',
 'Phenolic': 'Chemical',
 'Sulfuraceous': 'Chemical',
 'Medicinal': 'Chemical',
 'Animal': 'Animalic',
 'Musk': 'Animalic',
 'Musky': 'Animalic',
 'Leathery': 'Animalic',
 'Leather': 'Animalic',
 'Nut': 'Nutty',
 'Almond': 'Nutty',
 'Nutty': 'Nutty',
 'Aromatique': 'Other',
 'Aromatic': 'Other',
 'Camphoraceous': 'Other',
 'Ethereal': 'Other',
 'Ehtereal': 'Other',
 'Waxy': 'Other',
 'Camphor': 'Other',
 'Oily': 'Other',
 'Tarry': 'Other',
 'Sour': 'Other',
 'Powdery': 'Other',
 'Fatty': 'Other',
 'Tobacco': 'Other'}

In [51]:
arc_exp = pd.DataFrame(columns=list(smell_groups.keys()), index=csv_arc.index).fillna(0)
for index, row in csv_arc.iterrows():
    for d in row['Descriptors']:
        D = d.capitalize()
        if D in inverted_smell_groups:
            arc_exp.loc[index, inverted_smell_groups[D]] = 1
print(arc_exp.mean())
arc_exp

Floral      0.386890
Fruity      0.368106
Herbal      0.258593
Green       0.254197
Woody       0.177858
Sweet       0.151878
Balsamic    0.095524
Earth       0.087530
Spicy       0.083133
Chemical    0.080336
Animalic    0.067546
Nutty       0.035971
Other       0.350120
dtype: float64

,Floral,Fruity,Herbal,Green,Woody,Sweet,Balsamic,Earth,Spicy,Chemical,Animalic,Nutty,Other
107,0,0,0,0,0,1,1,0,0,0,0,0,0
126,0,0,0,0,1,0,1,0,0,0,0,0,0
174,0,0,0,0,0,0,0,1,0,0,0,0,0
176,0,0,0,0,0,0,0,0,0,0,0,0,1
177,0,0,0,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143411647,0,0,1,0,0,0,0,0,1,0,0,0,0
143963103,0,0,0,0,0,0,0,0,0,0,1,0,0
144116082,1,0,0,1,1,0,0,0,0,0,0,0,0
145793235,1,1,0,0,0,0,0,0,0,0,0,0,1
145804821,1,1,0,0,1,0,0,0,0,0,0,0,0

In [52]:
arc_red = arc_exp.drop(columns=['Other'])
arc_red = arc_red.loc[(arc_red != 0).any(axis=1)]
print(arc_red.mean())
print(arc_red.mean().mean())
arc_red

Floral      0.404682
Fruity      0.385033
Herbal      0.270485
Green       0.265886
Woody       0.186037
Sweet       0.158863
Balsamic    0.099916
Earth       0.091555
Spicy       0.086957
Chemical    0.084030
Animalic    0.070652
Nutty       0.037625
dtype: float64
0.17847686733556298

,Floral,Fruity,Herbal,Green,Woody,Sweet,Balsamic,Earth,Spicy,Chemical,Animalic,Nutty
107,0,0,0,0,0,1,1,0,0,0,0,0
126,0,0,0,0,1,0,1,0,0,0,0,0
174,0,0,0,0,0,0,0,1,0,0,0,0
177,0,0,0,0,0,1,0,0,0,0,0,0
179,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
143411647,0,0,1,0,0,0,0,0,1,0,0,0
143963103,0,0,0,0,0,0,0,0,0,0,1,0
144116082,1,0,0,1,1,0,0,0,0,0,0,0
145793235,1,1,0,0,0,0,0,0,0,0,0,0
145804821,1,1,0,0,1,0,0,0,0,0,0,0

In [68]:
calc = Calculator(descriptors)

arc_mol = pd.DataFrame(index=arc_red.index)
arc_mol['SMILES'] = [compounds[cid]['isomeric_smiles'] for cid in arc_mol.index]

arc_des = calc.pandas(Chem.MolFromSmiles(smi) for smi in arc_mol['SMILES'])
# arc_des = arc_des.fill_missing().astype(float).dropna(axis=1)

2024it [04:19,  2.58it/s]

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

2043it [04:20,  9.70it/s]

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

2082it [04:24,  8.98it/s]

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

2254it [04:45, 14.60it/s]

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

2392it [05:05,  7.82it/s]

In [69]:
PandasTools.AddMoleculeColumnToFrame(arc_mol, smilesCol='SMILES')

In [70]:
arc_mol

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/rdkit/Chem/PandasPatcher.py:132: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  for col in df_subset.columns[df_subset.applymap(MolFormatter.is_mol).any()]

                                  SMILES  \
107                C1=CC=C(C=C1)CCC(=O)O
126                    C1=CC(=CC=C1C=O)O
174                               C(CO)O
177                                 CC=O
179                          CC(C(=O)C)O
...                                  ...
143411647         CC.C=CC1=CC=C(C=C1)C=O
143963103  CC1=C(C=C(C=C1C(C)C)C=O)C(C)C
144116082      CCC(=O)C1(CCC(CC1)C(C)C)C
145793235       CC(C)CCC(=CCCC(=CC=O)C)C
145804821      CC(C)CC=CC(C)(CCC=C(C)C)O

                                                   ROMol
107        <rdkit.Chem.rdchem.Mol object at 0x32f329460>
126        <rdkit.Chem.rdchem.Mol object at 0x32f329700>
174        <rdkit.Chem.rdchem.Mol object at 0x32f329af0>
177        <rdkit.Chem.rdchem.Mol object at 0x32f329850>
179        <rdkit.Chem.rdchem.Mol object at 0x32f328f20>
...                                                  ...
143411647  <rdkit.Chem.rdchem.Mol object at 0x31adc4c10>
143963103  <rdkit.Chem.rdchem.Mol object at 0x31adc4c80>
144116082  <rdkit.Chem.rdchem.Mol object at 0x31adc4cf0>
145793235  <rdkit.Chem.rdchem.Mol object at 0x31adc4d60>
145804821  <rdkit.Chem.rdchem.Mol object at 0x31adc4dd0>

[2392 rows x 2 columns]

In [ ]:
# # Write each molecule to an MDL Mol file
# for i, (cid, mol) in enumerate(arc_mol['ROMol'].items()):
#     mol_file_name = f'../data/molecules/{i // 1000}/{cid}.mol'
#     # Write mol to file
#     with open(mol_file_name, 'w') as mol_file:
#         mol_file.write(Chem.MolToMolBlock(mol))

In [ ]:
# import os

# def concat_csv_files(output_file, input_files):
#     # Read each CSV file into a DataFrame and concatenate them
#     dfs = [pd.read_csv(f'../data/{file}') for file in input_files]
#     combined_df = pd.concat(dfs, ignore_index=True)

#     # Write the combined DataFrame to a new CSV file
#     combined_df.to_csv(output_file, index=False)

# # Example usage
# output_file = 'PaDEL_output.csv'
# input_files = ['PaDEL_output0.csv', 'PaDEL_output1.csv', 'PaDEL_output2.csv']

# if os.path.exists(output_file):
#     os.remove(output_file)

# concat_csv_files(output_file, input_files)

In [ ]:
arc_PaDEL = pd.read_csv('../data/PaDEL_output.csv')
arc_PaDEL

In [ ]:
arc_PaDEL['CID'] = arc_PaDEL['Name'].str.split('_').str[1]
arc_PaDEL = arc_PaDEL.drop(columns=['Name']).set_index('CID')
arc_PaDEL.index = arc_PaDEL.index.astype(int)

In [ ]:
zero_cols = arc_PaDEL.columns[arc_PaDEL.eq(0).all()]
arc_PaDEL = arc_PaDEL.drop(columns=zero_cols)
arc_PaDEL

In [ ]:
PaDEL_des_cols = arc_PaDEL.columns[:1182]
PaDEL_fin_cols = arc_PaDEL.columns[1182:]
PaDEL_des_cols

In [ ]:
# dropna removes div by zero, which happend when all rows are the same
arc_PaDEL[PaDEL_des_cols] = arc_PaDEL[PaDEL_des_cols].apply(normalize_column, axis=0)
arc_PaDEL = arc_PaDEL.dropna(axis=1)
arc_PaDEL

In [ ]:
arc_PaDEL_dataset = arc_red.join(arc_PaDEL, how='inner')

In [ ]:
arc_PaDEL_dataset = arc_PaDEL_dataset.drop(index=[62074])
arc_PaDEL_dataset.to_csv('../data/arc_PaDEL.csv')

In [ ]:
var_indices_PaDEL, significant_columns_PaDEL, explained_variance_PaDEL, loading_abs_PaDEL = get_cum_indices(arc_PaDEL)

In [ ]:
var_indices_PaDEL, significant_columns_PaDEL

In [ ]:
arc_des = arc_des.fill_missing().dropna(axis=1, how='all')
arc_missing_half = (arc_des.fill_missing().dropna(axis=1, how='all').isna().sum().sort_values() > len(arc_des) / 2)
arc_missing_half_indices = arc_missing_half[arc_missing_half].index
arc_des = arc_des.drop(columns=arc_missing_half_indices)
arc_des

In [ ]:
arc_des_median = arc_des.fillna(arc_des.median())
arc_des_zero = arc_des.fillna(0)

In [ ]:
arc_des_using = arc_des_zero
norm_arc_des = arc_des_using.apply(normalize_column, axis=0).dropna(axis=1)

In [ ]:
norm_arc_des

In [ ]:
var_indices_des, significant_columns_des, explained_variance_des, loading_abs_des = get_cum_indices(norm_arc_des)

In [ ]:
var_indices_des, significant_columns_des

In [ ]:
print(f'added len: {len(set(significant_columns_PaDEL)) + len((set(significant_columns_des)))}')
print(f'union len: {len(set(significant_columns_PaDEL).union(set(significant_columns_des)))}')

In [ ]:
arc_PaDEL = arc_PaDEL.sort_index()
arc_PaDEL

In [ ]:
norm_arc_des.index = arc_red.index
norm_arc_des

In [ ]:
arc_comb = arc_PaDEL.combine_first(norm_arc_des).dropna(axis=0)
arc_comb

In [ ]:
var_indices_comb, significant_columns_comb, explained_variance_comb, loading_abs_comb = get_cum_indices(arc_comb)

In [ ]:
var_indices_comb, significant_columns_comb

In [ ]:
diff_PaDEL = len(set(significant_columns_comb) - set(significant_columns_PaDEL))
diff_des = len(set(significant_columns_comb) - set(significant_columns_des))

num_shared = (diff_PaDEL + diff_des) - len(significant_columns_comb)
num_Padel = diff_PaDEL - num_shared
num_des = diff_des - num_shared

f'num_shared:{num_shared}, num_Padel:{num_Padel}, num_des:{num_des}'

In [ ]:
arc_comb_dataset = arc_red.join(arc_comb[significant_columns_comb], how='inner')
arc_comb_dataset

In [ ]:
arc_comb_dataset = arc_comb_dataset.drop(index=[62074])
arc_comb_dataset.to_csv('../data/arc_comb_red.csv')

In [ ]:
arc_reset = arc_red.reset_index(drop=True)

# dataset = pd.concat([arc_reset, arc_des_using[significant_columns]], axis=1)
dataset = pd.concat([arc_reset, arc_des_using], axis=1)
dataset.index = arc_red.index

# IGNORE 2 EXTREMELY LARGE ATOMS
dataset = dataset.drop(index=[62074, 16129878])
dataset.to_csv('../data/arc_median.csv')
dataset

In [ ]:
arc_red.mean()

In [65]:
arc_red

,Floral,Fruity,Herbal,Green,Woody,Sweet,Balsamic,Earth,Spicy,Chemical,Animalic,Nutty
107,0,0,0,0,0,1,1,0,0,0,0,0
126,0,0,0,0,1,0,1,0,0,0,0,0
174,0,0,0,0,0,0,0,1,0,0,0,0
177,0,0,0,0,0,1,0,0,0,0,0,0
179,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
143411647,0,0,1,0,0,0,0,0,1,0,0,0
143963103,0,0,0,0,0,0,0,0,0,0,1,0
144116082,1,0,0,1,1,0,0,0,0,0,0,0
145793235,1,1,0,0,0,0,0,0,0,0,0,0
145804821,1,1,0,0,1,0,0,0,0,0,0,0

In [66]:
print((arc_red[['Floral', 'Fruity', 'Woody']].sum(axis=1) == 0).sum())
print((arc_red[['Floral', 'Fruity', 'Woody']].sum(axis=1) == 1).sum())
print((arc_red[['Floral', 'Fruity', 'Woody']].sum(axis=1) == 2).sum())
print((arc_red[['Floral', 'Fruity', 'Woody']].sum(axis=1) == 3).sum())

584
1308
474
26

In [67]:
arc_mini = arc_red[['Floral', 'Fruity', 'Woody']]
arc_mini = arc_mini[arc_mini.sum(axis=1) < 2]
arc_mini['Odourless'] = (arc_mini.sum(axis=1) == 0).astype(int)
print(arc_mini.sum())
arc_mini

Floral       523
Fruity       544
Woody        241
Odourless    584
dtype: int64

           Floral  Fruity  Woody  Odourless
107             0       0      0          1
126             0       0      1          0
174             0       0      0          1
177             0       0      0          1
179             0       0      0          1
...           ...     ...    ...        ...
141148634       1       0      0          0
141266555       0       1      0          0
141700439       0       0      1          0
143411647       0       0      0          1
143963103       0       0      0          1

[1892 rows x 4 columns]

In [68]:
arc_mini_comb_dataset = arc_mini.join(arc_comb[significant_columns_comb], how='inner')
arc_mini_comb_dataset

NameError: name 'arc_comb' is not defined

In [ ]:
arc_mini_comb_dataset = arc_mini_comb_dataset.drop(index=[62074])
arc_mini_comb_dataset.to_csv('../data/arc_mini_comb_red.csv')

In [71]:
import nistchempy as nist
nist_webbook = nist.get_all_data()

In [72]:
nist_webbook

,ID,name,formula,mol_weight,inchi,inchi_key,cas_rn,mol2D,mol3D,cIR,...,cGC,cTG,cTC,cTP,cSO,cTR,cIE,cIC,cES,cDI
0,B100,iron oxide anion,FeO-,71.8450,<NA>,<NA>,<NA>,False,False,False,...,False,True,False,False,False,True,True,False,False,False
1,B1000,AsF3..Cl anion,AsClF3-,167.3700,<NA>,<NA>,<NA>,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,B1000000,AgH2-,AgH2-,109.8846,<NA>,<NA>,<NA>,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,B1000001,HAg(H2),AgH3,110.8920,<NA>,<NA>,<NA>,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,B1000002,AgNO+,AgNO+,137.8738,<NA>,<NA>,<NA>,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129000,U99777,"Methyl 3-hydroxycholest-5-en-26-oate, TMS deri...",C31 H54 O3 Si,502.8442,InChI=1S/C31H54O3Si/c1-21(10-9-11-22(2)29(32)3...,DNXGNXYNSBCWGX-QBUYVTDMSA-N,<NA>,True,False,False,...,True,False,False,False,False,False,False,False,False,False
129001,U99830,"2-Methyl-3-oxovaleric acid, O,O'-bis(trimethyl...",C12 H26 O3 Si2,274.5040,"InChI=1S/C12H26O3Si2/c1-9-11(14-16(3,4)5)10(2)...",LXAIQDVPXKOIGO-KHPPLWFESA-N,<NA>,True,False,False,...,True,False,False,False,False,False,False,False,False,False
129002,U99942,3-Hydroxy-3-(4'-hydroxy-3'-methoxyphenyl)propi...,C19 H36 O5 Si3,428.7426,InChI=1S/C19H36O5Si3/c1-21-18-13-15(11-12-16(1...,QCMUGKOFXVYNCF-UHFFFAOYSA-N,<NA>,True,False,False,...,True,False,False,False,False,False,False,False,False,False
129003,U99947,"2-Propylpentanoic acid, 2,3,4,6-tetra(trimethy...",C26 H58 O7 Si4,595.0765,InChI=1S/C26H58O7Si4/c1-15-17-20(18-16-2)25(27...,OVXMRISJDUWFKB-UHFFFAOYSA-N,<NA>,True,False,False,...,True,False,False,False,False,False,False,False,False,False
129004,x,Y5O2 radical,O2 Y5,476.5281,<NA>,<NA>,<NA>,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [83]:
# Assuming you have a function to convert RDKit molecule to InChIKey
def mol_to_inchikey(mol):
    return Chem.inchi.MolToInchiKey(mol)

# Generate mass spectra data for each molecule
inchi_key = []
for mol in arc_mol['ROMol']:
    inchi_key.append(mol_to_inchikey(mol))
arc_mol['inchi_key'] = inchi_key
arc_mol['CID'] = arc_mol.index

In [84]:
arc_mol

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/rdkit/Chem/PandasPatcher.py:132: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  for col in df_subset.columns[df_subset.applymap(MolFormatter.is_mol).any()]

                                  SMILES  \
107                C1=CC=C(C=C1)CCC(=O)O
126                    C1=CC(=CC=C1C=O)O
174                               C(CO)O
177                                 CC=O
179                          CC(C(=O)C)O
...                                  ...
143411647         CC.C=CC1=CC=C(C=C1)C=O
143963103  CC1=C(C=C(C=C1C(C)C)C=O)C(C)C
144116082      CCC(=O)C1(CCC(CC1)C(C)C)C
145793235       CC(C)CCC(=CCCC(=CC=O)C)C
145804821      CC(C)CC=CC(C)(CCC=C(C)C)O

                                                   ROMol  \
107        <rdkit.Chem.rdchem.Mol object at 0x32f329460>
126        <rdkit.Chem.rdchem.Mol object at 0x32f329700>
174        <rdkit.Chem.rdchem.Mol object at 0x32f329af0>
177        <rdkit.Chem.rdchem.Mol object at 0x32f329850>
179        <rdkit.Chem.rdchem.Mol object at 0x32f328f20>
...                                                  ...
143411647  <rdkit.Chem.rdchem.Mol object at 0x31adc4c10>
143963103  <rdkit.Chem.rdchem.Mol object at 0x31adc4c80>
144116082  <rdkit.Chem.rdchem.Mol object at 0x31adc4cf0>
145793235  <rdkit.Chem.rdchem.Mol object at 0x31adc4d60>
145804821  <rdkit.Chem.rdchem.Mol object at 0x31adc4dd0>

                             inchi_key        CID
107        XMIIGOLPHOKFCH-UHFFFAOYSA-N        107
126        RGHHSNMVTDWUBI-UHFFFAOYSA-N        126
174        LYCAIKOWRPUZTN-UHFFFAOYSA-N        174
177        IKHGUXGNUITLKF-UHFFFAOYSA-N        177
179        ROWKJAVDOGWPAT-UHFFFAOYSA-N        179
...                                ...        ...
143411647  UGBGNFFDDBTUAY-UHFFFAOYSA-N  143411647
143963103  TUPOLXKRHSQLST-UHFFFAOYSA-N  143963103
144116082  YEUYMNVZJAIVJX-UHFFFAOYSA-N  144116082
145793235  XIPPRSCORVGCQK-UHFFFAOYSA-N  145793235
145804821  LMYXQXXZBDTCCG-UHFFFAOYSA-N  145804821

[2392 rows x 4 columns]

In [129]:
merged_df = arc_mol[['CID', 'SMILES', 'inchi_key']].merge(nist_webbook[['ID', 'inchi_key']], on='inchi_key', how='inner')
merged_df

,CID,SMILES,inchi_key,ID
0,107,C1=CC=C(C=C1)CCC(=O)O,XMIIGOLPHOKFCH-UHFFFAOYSA-N,C501520
1,126,C1=CC(=CC=C1C=O)O,RGHHSNMVTDWUBI-UHFFFAOYSA-N,C123080
2,174,C(CO)O,LYCAIKOWRPUZTN-UHFFFAOYSA-N,B6009514
3,174,C(CO)O,LYCAIKOWRPUZTN-UHFFFAOYSA-N,C107211
4,177,CC=O,IKHGUXGNUITLKF-UHFFFAOYSA-N,C75070
...,...,...,...,...
1442,53959463,CCCCCCCCCCC(=O)OCCC(C)C,JJXRRRGUDICKPR-UHFFFAOYSA-N,R409948
1443,54052443,CCCCCCCCCCCCC(=O)OCC(C)C,DBSNEMMWHLXCPX-UHFFFAOYSA-N,U405160
1444,54682930,C1=CC=C2C(=C1)C(=CC(=O)O2)O,VXIXUWQIVKSKSA-UHFFFAOYSA-N,C1076386
1445,67351117,CCCCCOC(=O)C(C)C1=CC=CC=C1,HDVFGKKFXKECPD-UHFFFAOYSA-N,U415061
1446,71349943,CCC(C)C(=O)OCC(CC=C(C)C)C(=C)C,WBUQEUATHWMFQO-UHFFFAOYSA-N,C17609960

In [132]:
merged_df['CID'] = merged_df['CID'].drop_duplicates()
merged_df = merged_df.dropna(subset=['CID'])
merged_df['CID'] = merged_df['CID'].astype(int)
merged_df

,CID,SMILES,inchi_key,ID
0,107,C1=CC=C(C=C1)CCC(=O)O,XMIIGOLPHOKFCH-UHFFFAOYSA-N,C501520
1,126,C1=CC(=CC=C1C=O)O,RGHHSNMVTDWUBI-UHFFFAOYSA-N,C123080
2,174,C(CO)O,LYCAIKOWRPUZTN-UHFFFAOYSA-N,B6009514
4,177,CC=O,IKHGUXGNUITLKF-UHFFFAOYSA-N,C75070
5,179,CC(C(=O)C)O,ROWKJAVDOGWPAT-UHFFFAOYSA-N,C513860
...,...,...,...,...
1442,53959463,CCCCCCCCCCC(=O)OCCC(C)C,JJXRRRGUDICKPR-UHFFFAOYSA-N,R409948
1443,54052443,CCCCCCCCCCCCC(=O)OCC(C)C,DBSNEMMWHLXCPX-UHFFFAOYSA-N,U405160
1444,54682930,C1=CC=C2C(=C1)C(=CC(=O)O2)O,VXIXUWQIVKSKSA-UHFFFAOYSA-N,C1076386
1445,67351117,CCCCCOC(=O)C(C)C1=CC=CC=C1,HDVFGKKFXKECPD-UHFFFAOYSA-N,U415061
1446,71349943,CCC(C)C(=O)OCC(CC=C(C)C)C(=C)C,WBUQEUATHWMFQO-UHFFFAOYSA-N,C17609960

In [2]:
merged_df = pd.read_csv('../data/temp_df.csv')

In [152]:
# for i, id in enumerate(merged_df['ID']):
#     print(i)
#     c = nist.Compound(id)
#     c.get_ms_spectra()
#     for ms in c.MS:
#         ms.save(path_dir='../data/ms_specs/')

# f'{c.MS[0].compound.ID}_{c.MS[0].spec_type}_{c.MS[0].spec_idx}.jdx'

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291

In [38]:
# x_range = [0,343]
ms_specs = pd.DataFrame(columns=[i for i in range(344)], index=merged_df['CID']).fillna(0)
ms_specs

,0,1,2,3,4,5,6,7,8,9,...,334,335,336,337,338,339,340,341,342,343
CID,,,,,,,,,,,,,,,,,,,,,
107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53959463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54052443,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54682930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67351117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71349943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
for (cid, id) in zip(merged_df['CID'], merged_df['ID']):
    # print(cid, id)
    file_name = f'../data/ms_specs/{id}_MS_0.jdx'
    try:
        with open(file_name, 'r') as file:
            content = file.read()
            peaks = [(int(x), int(y)) for x,y in [s.split(',') for s in ' '.join(content.split('\n')[25:-2]).split(' ')]]
            for (x, y) in peaks:
                ms_specs.loc[cid,x] = y
    except:
        continue

ms_specs

,0,1,2,3,4,5,6,7,8,9,...,334,335,336,337,338,339,340,341,342,343
CID,,,,,,,,,,,,,,,,,,,,,
107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
126,0,0,0,0,0,21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53959463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54052443,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54682930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67351117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71349943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
ms_specs = ms_specs.loc[(ms_specs != 0).any(axis=1)]
ms_specs = ms_specs / 9999
ms_specs

,0,1,2,3,4,5,6,7,8,9,...,334,335,336,337,338,339,340,341,342,343
CID,,,,,,,,,,,,,,,,,,,,,
107,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126,0.0,0.0,0.0,0.0,0.0,0.0021,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
240,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5372353,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5372813,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5373729,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040503,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54682930,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
ms_specs.to_csv('../data/ms_specs.csv')

In [58]:
arc_red

,Floral,Fruity,Herbal,Green,Woody,Sweet,Balsamic,Earth,Spicy,Chemical,Animalic,Nutty
107,0,0,0,0,0,1,1,0,0,0,0,0
126,0,0,0,0,1,0,1,0,0,0,0,0
174,0,0,0,0,0,0,0,1,0,0,0,0
177,0,0,0,0,0,1,0,0,0,0,0,0
179,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
143411647,0,0,1,0,0,0,0,0,1,0,0,0
143963103,0,0,0,0,0,0,0,0,0,0,1,0
144116082,1,0,0,1,1,0,0,0,0,0,0,0
145793235,1,1,0,0,0,0,0,0,0,0,0,0
145804821,1,1,0,0,1,0,0,0,0,0,0,0

In [63]:
arc_ms_spec = pd.merge(arc_red, ms_specs, left_index=True, right_index=True)
arc_ms_spec.to_csv('../data/arc_ms_spec.csv')
arc_ms_spec

,Floral,Fruity,Herbal,Green,Woody,Sweet,Balsamic,Earth,Spicy,Chemical,...,334,335,336,337,338,339,340,341,342,343
107,0,0,0,0,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126,0,0,0,0,1,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177,0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179,0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
240,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5372353,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5372813,0,0,1,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5373729,1,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040503,1,0,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54682930,0,0,1,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
arc_mini

           Floral  Fruity  Woody  Odourless
107             0       0      0          1
126             0       0      1          0
174             0       0      0          1
177             0       0      0          1
179             0       0      0          1
...           ...     ...    ...        ...
141148634       1       0      0          0
141266555       0       1      0          0
141700439       0       0      1          0
143411647       0       0      0          1
143963103       0       0      0          1

[1892 rows x 4 columns]

In [70]:
arc_mini_ms_spec = pd.merge(arc_mini, ms_specs, left_index=True, right_index=True)
arc_mini_ms_spec.to_csv('../data/arc_mini_ms_spec.csv')
arc_mini_ms_spec

,Floral,Fruity,Woody,Odourless,0,1,2,3,4,5,...,334,335,336,337,338,339,340,341,342,343
107,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0021,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
240,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5371102,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5372353,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5372813,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5373729,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54682930,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
ms_spec_vars = ms_specs.var().sort_values(ascending=False)
total_val = ms_spec_vars.sum()
rel_var_cumsum = ms_specs.var().sort_values(ascending=False).cumsum() / total_val

for var in [0.9, 0.95, 0.99, 0.999]:
    print(f'var {var}: {len(rel_var_cumsum[rel_var_cumsum < var])}')

var 0.9: 86
var 0.95: 110
var 0.99: 156
var 0.999: 194

In [124]:
len(ms_specs.columns) - (ms_specs.sum() == 0).sum()

306

In [98]:
var_ordered_ms_specs = ms_specs[ms_specs.var().sort_values(ascending=False).index]
arc_red_ms_specs_ordered = pd.merge(arc_red, var_ordered_ms_specs, left_index=True, right_index=True)
arc_red_ms_specs_ordered.to_csv('../data/arc_ms_spec_ordered.csv')
arc_red_ms_specs_ordered

,Floral,Fruity,Herbal,Green,Woody,Sweet,Balsamic,Earth,Spicy,Chemical,...,273,322,1,314,317,318,319,320,300,0
107,0,0,0,0,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126,0,0,0,0,1,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177,0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179,0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
240,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5372353,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5372813,0,0,1,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5373729,1,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040503,1,0,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54682930,0,0,1,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0